#root{
  width: 100%;
  height: 100vh;
}
.sidebarLink{
  text-decoration: none;
  color: inherit;
}
/* .mde-header{
  background-color: transparent;
  color: white;
}

.mde-text{
  background-color: transparent;
  color: white;
} */
iframe#webpack-dev-server-client-overlay{display:none!important}

